<%= link_to 'Back', models_path, class: 'btn btn-light mb-3' %>
<div class="card">
    <div class="card-body">
        <h3 class="card-title mb-4">
            <span> <b> Editing Model </b> </span>
        </h3>

        <%= render 'form', model: @model %>
    </div>
</div>
