<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    
        <div class="text-center">
            <img src="<%= asset_path 'logo.png' %>" alt="" width="300" height="100" %>
        </div>  
        
        <br><br>

        <p class="lead text-primary">
            —A best way to manage your sewing workshop—
        </p>

        <br> <br><br><br>

        <div class="text-info">
            COUTUREX is a sewing workshop management application. <br>
            It is a support application for the management of customers, orders, <br>
            models, accounting and the generation of statistics. <br>
            When a customer is created, orders, patterns and invoices can be associated with him. <br>
            It is also possible to create registered models. <br>
            The application automatically generates statistics by month and by year <br>
            according to the customers to allow the manager to observe the productivity of the company. <br>
        </div>

</div>

<style>
    .bg {
      /* The image used */
      background-image: url(<%= asset_path 'image4.jpg' %>);

      height: 100%; 

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }                   
</style>