<h4 class='mb-4'>
    <span>Statistiques</span>
</h4>
<div class='row'>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Les commandes des 7 derniers jours
            </div>
            <div class="card-body">
                <canvas id="myChart" width="200px" height="100px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
            </div>
        </div>
    </div>
    
</div>